---
title: "Downloads"
layout: "base.njk"
---

<!-- <h1>Downloads</h1>-->

<!-- Payment Link Section -->
<div class="support-section">
    <h2>☕ Support My Work</h2>
    <p>Thanks for your interest in my work! All audio files are available for free! If you'd like to support my music, you can leave a tip via the button below. Every bit of support helps me keep creating. If you enjoy my music or find these resources useful, consider buying me a pack of strings!</p>
    <!-- Venmo link -->
    <a href="https://venmo.com/EliPage" class="support-button" target="_blank">
        💰 Tip with Venmo
    </a>
    <p><small>Or use my Venmo handle directly: @EliPage</small></p>
</div>

<!-- Sheet Music Section 
<section class="download-section">
    <h2>🎼 Sheet Music</h2>
    <ul>
        <li>
            <a href="/downloads/song-name.pdf" download>Song Title - Sheet Music (PDF)</a>
            <a href="https://venmo.com/EliPage?txn=pay&amount=5.00&note=For%20Song%20Title%20Sheet%20Music" class="tip-link" target="_blank">[Tip $5]</a>
        </li> 
        
    </ul>
</section>
-->

<!-- Dropbox Downloads Section -->
<!-- WAV Files -->
<section class="download-section">
    <div class="download-section-header">
	<h2>🎵 Songs</h2>
<div class="button-group">
	<a href="https://www.dropbox.com/scl/fo/yq5wljenkpa96byh486a7/AHEuEovOFlbxmHA4tR-D1i8?rlkey=9jqr3k46k6zgxuooupypfg3n8&st=m1ebdiw1&dl=1" target="_blank" class="download-all-catalogue-btn" title="Download entire song catalogue in WAV format">
            📥 Download All WAVs
        </a>
<a href="https://www.dropbox.com/scl/fo/w9g6t4e6752w7votqy978/AL_fvAxV1R0xyHYOtEQIzSI?rlkey=donmm21g23tk0ddl7v4rzu5jx&st=rg5xdxun&dl=1" target="_blank" class="download-all-catalogue-btn" title="Download entire song catalogue in MP3 format">
            📥 Download All MP3s
        </a>
	<p style="font-size: 0.75em;">Files hosted on Dropbox. Click any link to download directly!</p>
	</div>
</div>

<!-- Section Header: Mix 20260902 -->
    <div class="section-header">
        <a href="https://www.dropbox.com/scl/fo/tw41cef8z035zfakbyysf/AJOpF5nPQXr3wHIeLslDxZk?rlkey=snuebawxyz85ei1vo0r4zzpze&st=nfg22ps8&dl=1" target="_blank" class="section-header-link" title="Download all songs in this section in WAV format"><h3>📥 Mix 20260902</h3></a>
        <a href="https://www.dropbox.com/scl/fo/s0ux1is7ey3bsekcr67ns/ANSgqnJqTeT4ryTtd7IVU0E?rlkey=ochvziw2sdznqrwwn6wj1vz6p&st=wj2gmkwx&dl=1" target="_blank" class="download-all-mp3-btn" title="Download all songs in this section in MP3 format">📥 MP3</a>
	<t><small>24bit wav or 192kbps mp3 (44.1kHz)</small></t>
    </div>
    <div class="download-list">
        <!-- Song 1 -->
        <div class="download-item">
            <div class="download-link">
                <a href="https://www.dropbox.com/scl/fi/8hels4bu1e7wg5w9m4qns/Keep-It-Movin-by-E9-20260902v1.wav?rlkey=bhm26i0f7ob22evdjzprchx60&st=itgshjzp&dl=1" target="_blank">Keep It Movin' by E9 - WAV</a>
<t><small>or</small></t>
<a href="https://www.dropbox.com/scl/fi/uhnna7uuafykg4o4omlrl/Keep-It-Movin-by-E9-20260902v1.mp3?rlkey=5dnj53awekqvwatmkiwsehbcl&st=tgcr27jv&dl=1" target="_blank">MP3</a>
            </div>
            <div class="download-duration">(5:34)</div>
            <div class="download-size">84.51 MB</div>
	    <div class="download-size">7.67 MB</div>
            <div class="download-tip">
                <a href="https://venmo.com/EliPge?txn=pay&amount=3.00&note=For%20Higher%20Dimensions" class="tip-link" target="_blank">[Tip $3]</a>
            </div>
        </div>
        
        <!-- Song 2 -->
        <div class="download-item">
            <div class="download-link">
                <a href="https://www.dropbox.com/scl/fi/m8jv1l0f7m8yk4sffo075/5-0-by-E9-20260902v1.wav?rlkey=b656jdl1bu0n1m07z37jfrl8a&st=y9t80nfx&dl=1" target="_blank">5-0 by E9 - WAV</a>
<t><small>or</small></t>
<a href="https://www.dropbox.com/scl/fi/ev7kt0padr2zl2p1wec5d/5-0-by-E9-20260902v1.mp3?rlkey=si6o4jyhcwrgl1tdc7p3o2qo5&st=8p9und4s&dl=1" target="_blank">MP3</a>
            </div>
            <div class="download-duration">(4:34)</div>
            <div class="download-size">69.31 MB</div>
            <div class="download-size">6.29 MB</div>
            <div class="download-tip">
                <a href="https://venmo.com/EliPge?txn=pay&amount=3.00&note=For%20Make%20Believe" class="tip-link" target="_blank">[Tip $3]</a>
            </div>
        </div>

        <!-- Song 3 -->
        <div class="download-item">
            <div class="download-link">
                <a href="https://www.dropbox.com/scl/fi/tcqiuxphfhahc132ruj11/Hopin-by-E9-20260902v1.wav?rlkey=t88thgrp8av07kes1fnq4stwg&st=4i912ytl&dl=1" target="_blank">Hopin' by E9 - WAV</a>
<t><small>or</small></t>
<a href="https://www.dropbox.com/scl/fi/4ci8uwnrbz374882mlnvb/Hopin-by-E9-20260902v1.mp3?rlkey=93pedf4mbpa7fz75ukyrovgs5&st=83fzzs29&dl=1" target="_blank">MP3</a>
            </div>
            <div class="download-duration">(5:29)</div>
            <div class="download-size">83.02 MB</div>
            <div class="download-size">7.53 MB</div>
            <div class="download-tip">
                <a href="https://venmo.com/EliPge?txn=pay&amount=3.00&note=For%20The%20Uncanny%20Valley" class="tip-link" target="_blank">[Tip $3]</a>
            </div>
        </div>
    </div>

<!-- Section Header: Mix 20260902 NO DRUMS with CLICK -->
    <div class="section-header">
        <a href="https://www.dropbox.com/scl/fo/j0a6q0qmu3peqpg7qog0g/AJBnQSt0dNdZX2NciICODXQ?rlkey=71aqhay690arpwitam1xnyow9&st=3xngupnb&dl=1" target="_blank" class="section-header-link" title="Download all songs in this section in WAV format"><h3>📥 Mix 20260902 NO DRUMS with CLICK</h3></a>
        <a href="https://www.dropbox.com/scl/fo/n0xf4jhh643vemtgla6cb/AEGSRiHqPOsgwgWp4xFH9Sk?rlkey=pepttanaaqcb9az7onp5pqcm2&st=ofdn3d5k&dl=1" target="_blank" class="download-all-mp3-btn" title="Download all songs in this section in MP3 format">📥 MP3</a>
	<t style="font-size: 0.65em; color: rgba(150,150,200,1); max-width: 118px;">*NO DRUMS songs are essentially backing tracks for drummers</t>
	<t><small>24bit wav or 192kbps mp3 (44.1kHz)</small></t>
    </div>
    <div class="download-list">
        <!-- Song 1 -->
        <div class="download-item">
            <div class="download-link">
                <a href="https://www.dropbox.com/scl/fi/j5nb73ndsojvfrbpbike1/Keep-It-Movin-by-E9-20260902v1-NO-DRUMS-with-CLICK.wav?rlkey=z0x8m10mp8n6mudl6k2x8pz0t&st=quqv1kmd&dl=1" target="_blank">Keep It Movin' by E9 NO DRUMS with CLICK - WAV</a>
<t><small>or</small></t>
<a href="https://www.dropbox.com/scl/fi/dt46xdwpjym26om2m369l/Keep-It-Movin-by-E9-20260902v1-NO-DRUMS-with-CLICK.mp3?rlkey=m1ha3tww9ry3cunu73knpsdzw&st=aducujl5&dl=1" target="_blank">MP3</a>
            </div>
            <div class="download-duration">(5:42)</div>
            <div class="download-size">86.53 MB</div>
	    <div class="download-size">7.85 MB</div>
            <div class="download-tip">
                <a href="https://venmo.com/EliPge?txn=pay&amount=3.00&note=For%20Higher%20Dimensions" class="tip-link" target="_blank">[Tip $3]</a>
            </div>
        </div>
        
        <!-- Song 2 -->
        <div class="download-item">
            <div class="download-link">
                <a href="https://www.dropbox.com/scl/fi/1d2vmx83p8nzbbb9tld95/5-0-by-E9-20260902v1-NO-DRUMS-with-CLICK.wav?rlkey=6lt348ndj51babxv1l3ygj3vr&st=hx9y7wcz&dl=1" target="_blank">5-0 by E9 NO DRUMS with CLICK - WAV</a>
<t><small>or</small></t>
<a href="https://www.dropbox.com/scl/fi/q4c500fego5k1iuxphjbx/5-0-by-E9-20260902v1-NO-DRUMS-with-CLICK.mp3?rlkey=t1wqi0mx8fko1afpfy5hpxhzd&st=j5i51xet&dl=1" target="_blank">MP3</a>
            </div>
            <div class="download-duration">(4:41)</div>
            <div class="download-size">71.09 MB</div>
            <div class="download-size">6.45 MB</div>
            <div class="download-tip">
                <a href="https://venmo.com/EliPge?txn=pay&amount=3.00&note=For%20Make%20Believe" class="tip-link" target="_blank">[Tip $3]</a>
            </div>
        </div>

        <!-- Song 3 -->
        <div class="download-item">
            <div class="download-link">
                <a href="https://www.dropbox.com/scl/fi/9u6zklfv74s0pbskd4tcq/Hopin-by-E9-20260902v1-NO-DRUMS-with-CLICK.wav?rlkey=r948lc0dspgo608jnlk9n05nt&st=ucjbfmvk&dl=1" target="_blank">Hopin' by E9 NO DRUMS with CLICK - WAV</a>
<t><small>or</small></t>
<a href="https://www.dropbox.com/scl/fi/xwpn7tg6ck64kzx3l0qns/Hopin-by-E9-20260902v1-NO-DRUMS-with-CLICK.mp3?rlkey=qvl04vlyww0nlijctagukjvdj&st=3bed4ny5&dl=1" target="_blank">MP3</a>
            </div>
            <div class="download-duration">(5:29)</div>
            <div class="download-size">83.02 MB</div>
            <div class="download-size">7.53 MB</div>
            <div class="download-tip">
                <a href="https://venmo.com/EliPge?txn=pay&amount=3.00&note=For%20The%20Uncanny%20Valley" class="tip-link" target="_blank">[Tip $3]</a>
            </div>
        </div>
    </div>

<!-- Section Header: Mix 20260902 NO LEAD -->
    <div class="section-header">
        <a href="https://www.dropbox.com/scl/fo/fpxshpamy98q9q7ci3tnw/AEV47xr7N0GBcmFfA-1SF7w?rlkey=s0h20ofsvk06ybj3eohc5xw89&st=3cnspjj8&dl=1" target="_blank" class="section-header-link" title="Download all songs in this section in WAV format"><h3>📥 Mix 20260902 NO LEAD</h3></a>
        <a href="https://www.dropbox.com/scl/fo/39qscgfv8bgel6u6cm01z/AHdfLoSoLK--WOo4tZwkI-s?rlkey=invn6hprgofa4h6ct8mas8l8d&st=edmf2tum&dl=1" target="_blank" class="download-all-mp3-btn" title="Download all songs in this section in MP3 format">📥 MP3</a>
	<t style="font-size: 0.65em; color: rgba(150,150,200,1); max-width: 118px;">*NO LEAD songs are essentially backing tracks</t>
	<t><small>24bit wav or 192kbps mp3 (44.1kHz)</small></t>
    </div>
    <div class="download-list">
        <!-- Song 1 -->
        <div class="download-item">
            <div class="download-link">
                <a href="https://www.dropbox.com/scl/fi/ey2hs36pnmx3bhk1jzven/Keep-It-Movin-by-E9-20260902v1-NO-LEAD.wav?rlkey=fo8fo7yqsxit5lidswe0z78yw&st=wdjjqiui&dl=1" target="_blank">Keep It Movin' by E9 NO LEAD - WAV</a>
<t><small>or</small></t>
<a href="https://www.dropbox.com/scl/fi/jlnf6hxzcgqpx4bpro4kp/Keep-It-Movin-by-E9-20260902v1-NO-LEAD.mp3?rlkey=h1bj8pxuq0srlhy1f4ovvwhxi&st=dtx3rg0e&dl=1" target="_blank">MP3</a>
            </div>
            <div class="download-duration">(5:42)</div>
            <div class="download-size">86.53 MB</div>
	    <div class="download-size">7.85 MB</div>
            <div class="download-tip">
                <a href="https://venmo.com/EliPge?txn=pay&amount=3.00&note=For%20Higher%20Dimensions" class="tip-link" target="_blank">[Tip $3]</a>
            </div>
        </div>
        
        <!-- Song 2 -->
        <div class="download-item">
            <div class="download-link">
                <a href="https://www.dropbox.com/scl/fi/timpi7rj4ygdj4loo7a0j/5-0-by-E9-20260902v1-NO-LEAD.wav?rlkey=ya69q4jtuhuhlq0j0s584r381&st=vdfdvgt0&dl=1" target="_blank">5-0 by E9 NO LEAD - WAV</a>
<t><small>or</small></t>
<a href="https://www.dropbox.com/scl/fi/gpbc76q0xnlh3cz75n97j/5-0-by-E9-20260902v1-NO-LEAD.mp3?rlkey=6p2og34k5imb5arx6irpjwxmi&st=jhslx0x7&dl=1" target="_blank">MP3</a>
            </div>
            <div class="download-duration">(4:40)</div>
            <div class="download-size">70.71 MB</div>
            <div class="download-size">6.42 MB</div>
            <div class="download-tip">
                <a href="https://venmo.com/EliPge?txn=pay&amount=3.00&note=For%20Make%20Believe" class="tip-link" target="_blank">[Tip $3]</a>
            </div>
        </div>

        <!-- Song 3 -->
        <div class="download-item">
            <div class="download-link">
                <a href="https://www.dropbox.com/scl/fi/r9asrhk2xv5kmo5w0tk5z/Hopin-by-E9-20260902v1-NO-LEAD.wav?rlkey=hqez52mif7puyz3g41m1ghmuz&st=p3nsrj06&dl=1" target="_blank">Hopin' by E9 NO LEAD - WAV</a>
<t><small>or</small></t>
<a href="https://www.dropbox.com/scl/fi/9kcnswmgkcvvpxlkulayy/Hopin-by-E9-20260902v1-NO-LEAD.mp3?rlkey=r5p50ojwot8h0nsp8cdl0g557&st=qkwalp59&dl=1" target="_blank">MP3</a>
            </div>
            <div class="download-duration">(5:29)</div>
            <div class="download-size">83.02 MB</div>
            <div class="download-size">7.53 MB</div>
            <div class="download-tip">
                <a href="https://venmo.com/EliPge?txn=pay&amount=3.00&note=For%20The%20Uncanny%20Valley" class="tip-link" target="_blank">[Tip $3]</a>
            </div>
        </div>
    </div>
    
<!-- Section Header: Alien Thoughts EP -->
    <div class="section-header">
        <a href="https://www.dropbox.com/scl/fo/qudq65p28yc85jon95pkb/ACCd98B6bo131qSYhZN4o54?rlkey=brsnjgh0uvb7hob75b0c7nx14&st=luniqsa4&dl=1" target="_blank" class="section-header-link" title="Download all songs in this section in WAV format"><h3>📥 Alien Thoughts EP</h3></a>
        <a href="https://www.dropbox.com/scl/fo/s83i6jsj62dergc400yt0/AK0KkWDkBgdRbrPWJcghfyM?rlkey=7349no839bby3dz7jsb5e1itv&st=ovcdx376&dl=1" target="_blank" class="download-all-mp3-btn" title="Download all songs in this section in MP3 format">📥 MP3</a>
	<t><small>16bit wav or 192kbps mp3 (44.1kHz)</small></t>
    </div>
    <div class="download-list">
        <!-- Song 1 -->
        <div class="download-item">
            <div class="download-link">
                <a href="https://www.dropbox.com/scl/fi/4912ffoe22mrtbjdwm1w9/1-Higher-Dimensions-by-E9.wav?rlkey=juywzlnf4v4izfeq74nganyts&st=lpoxmmui&dl=1" target="_blank">Higher Dimensions by E9 - WAV</a>
<t><small>or</small></t>
<a href="https://www.dropbox.com/scl/fi/58skv5diwm67keuhg5rgr/1-Higher-Dimensions-by-E9.mp3?rlkey=jhc8nl9nb05ftvioa2v0702m3&st=159g3ngg&dl=1" target="_blank">MP3</a>
            </div>
            <div class="download-duration">(2:11)</div>
            <div class="download-size">22.05 MB</div>
	    <div class="download-size">3.00 MB</div>
            <div class="download-tip">
                <a href="https://venmo.com/EliPge?txn=pay&amount=3.00&note=For%20Higher%20Dimensions" class="tip-link" target="_blank">[Tip $3]</a>
            </div>
        </div>
        
        <!-- Song 2 -->
        <div class="download-item">
            <div class="download-link">
                <a href="https://www.dropbox.com/scl/fi/09xra91vylg1otv25zmof/2-Make-Believe-by-E9.wav?rlkey=7iqeb321b98a418pdo7y4w6ai&st=hsxj2jod&dl=1" target="_blank">Make Believe by E9 - WAV</a>
<t><small>or</small></t>
<a href="https://www.dropbox.com/scl/fi/evdm0lhdcijwb0jfwll9q/2-Make-Believe-by-E9.mp3?rlkey=5z1gnlezgzusx3sodtmr7lp5d&st=dp25ae6j&dl=1" target="_blank">MP3</a>
            </div>
            <div class="download-duration">(5:53)</div>
            <div class="download-size">59.44 MB</div>
            <div class="download-size">8.09 MB</div>
            <div class="download-tip">
                <a href="https://venmo.com/EliPge?txn=pay&amount=3.00&note=For%20Make%20Believe" class="tip-link" target="_blank">[Tip $3]</a>
            </div>
        </div>

        <!-- Song 3 -->
        <div class="download-item">
            <div class="download-link">
                <a href="https://www.dropbox.com/scl/fi/3tm75wo6rvu62vidn7c5k/3-The-Uncanny-Valley-by-E9.wav?rlkey=mzyzdn0m1ip95xr6niliuzcu8&st=dld378o8&dl=1" target="_blank">The Uncanny Valley by E9 - WAV</a>
<t><small>or</small></t>
<a href="https://www.dropbox.com/scl/fi/tj26jt5kw82pnpcy42m3d/3-The-Uncanny-Valley-by-E9.mp3?rlkey=xsbtpkxz9po695c2co7wtraez&st=3eym27vo&dl=1" target="_blank">MP3</a>
            </div>
            <div class="download-duration">(5:15)</div>
            <div class="download-size">53.08 MB</div>
            <div class="download-size">7.22 MB</div>
            <div class="download-tip">
                <a href="https://venmo.com/EliPge?txn=pay&amount=3.00&note=For%20The%20Uncanny%20Valley" class="tip-link" target="_blank">[Tip $3]</a>
            </div>
        </div>

        <!-- Song 4 -->
        <div class="download-item">
            <div class="download-link">
                <a href="https://www.dropbox.com/scl/fi/jc8430uo9jcx1x7mcwsic/4-Tearing-Down-The-Temple-by-E9.wav?rlkey=3en5ycvyt07w4z7b06ah5s3bf&st=5quqt2s7&dl=1" target="_blank">Tearing Down The Temple by E9 - WAV</a>
<t><small>or</small></t>
<a href="https://www.dropbox.com/scl/fi/n1262eatejw801iimpqbv/4-Tearing-Down-The-Temple-by-E9.mp3?rlkey=0k33s65h3pe0jkrcjr5l318m8&st=k96toefy&dl=1" target="_blank">MP3</a>
            </div>
            <div class="download-duration">(9:28)</div>
            <div class="download-size">95.60 MB</div>
            <div class="download-size">13.01 MB</div>
            <div class="download-tip">
                <a href="https://venmo.com/EliPage?txn=pay&amount=3.00&note=For%20TDTT" class="tip-link" target="_blank">[Tip $3]</a>
            </div>
        </div>
    </div>

    <!-- Section Header: Backing Tracks -->
    <div class="section-header">
        <a href="https://www.dropbox.com/scl/fo/omiqdqxb8z49xgkzrclhh/ACtU_IxNiVp9kMsvYvbdv00?rlkey=shcfksjuzljswc4yyw1j169ic&st=g2ajjte7&dl=1" target="_blank" class="section-header-link" title="Download all songs in this section in WAV format"><h3>📥 Alien Thoughts EP NO LEAD</h3></a>
<a href="https://www.dropbox.com/scl/fo/ktus26h6jssevu2hrad5g/APzEFum8L9BOX6ipMc6kfvU?rlkey=kxqrhlcer0icnh2y1wdmsug2m&st=va9xrlgo&dl=1" target="_blank" class="download-all-mp3-btn" title="Download all songs in this section in MP3 format">📥 MP3</a>
	<t style="font-size: 0.65em; color: rgba(150,150,200,1); max-width: 118px;">*NO LEAD songs are essentially backing tracks</t>
	<t><small>24bit wav or 192kbps mp3 (44.1kHz) </small></t>
    </div>
    <div class="download-list">
        <!-- Song 5 -->
        <div class="download-item">
            <div class="download-link">
                <a href="https://www.dropbox.com/scl/fi/f7rtht1qxyqqub4bptr0a/1-Higher-Dimensions-by-E9-NO-LEAD.wav?rlkey=mpfb24b09bmpxo0l5lkk8hcwo&st=mq1gcmp2&dl=1" target="_blank">Higher Dimensions by E9 NO LEAD - WAV</a>
<t><small>or</small></t>
<a href="https://www.dropbox.com/scl/fi/k880suei460skzkokzrc8/1-Higher-Dimensions-by-E9-NO-LEAD.mp3?rlkey=n2f5tku349wdyrer82xboa1tf&st=cywzomo8&dl=1" target="_blank">MP3</a>
            </div>
            <div class="download-duration">(2:18)</div>
            <div class="download-size">34.93 MB</div>
            <div class="download-size">3.17 MB</div>
            <div class="download-tip">
                <a href="https://venmo.com/EliPge?txn=pay&amount=3.00&note=For%20Higher%20Dimensions" class="tip-link" target="_blank">[Tip $3]</a>
            </div>
        </div>
        
        <!-- Song 6 -->
        <div class="download-item">
            <div class="download-link">
                <a href="https://www.dropbox.com/scl/fi/0iu5i6w3smk50jqsrg9r3/2-Make-Believe-by-E9-NO-LEAD.wav?rlkey=bkmk36i1c51k52rrfq871j45m&st=r4elbnyo&dl=1" target="_blank">Make Believe by E9 NO LEAD - WAV</a>
<t><small>or</small></t>
<a href="https://www.dropbox.com/scl/fi/tihbrgd1e3w51sv60dne1/2-Make-Believe-by-E9-NO-LEAD.mp3?rlkey=6mwtpth0rq795wpmc211f2o0h&st=oew3rs6o&dl=1" target="_blank">MP3</a>
            </div>
            <div class="download-duration">(5:54)</div>
            <div class="download-size">89.58 MB</div>
            <div class="download-size">8.13 MB</div>
            <div class="download-tip">
                <a href="https://venmo.com/EliPge?txn=pay&amount=3.00&note=For%20Make%20Believe" class="tip-link" target="_blank">[Tip $3]</a>
            </div>
        </div>

        <!-- Song 7 -->
        <div class="download-item">
            <div class="download-link">
                <a href="https://www.dropbox.com/scl/fi/s6yeb9mgup0lvtdhx2k3g/3-The-Uncanny-Valley-by-E9-NO-LEAD.wav?rlkey=xlvjp72w55sgmyn03s2nyalah&st=wzo6nbhq&dl=1" target="_blank">The Uncanny Valley by E9 NO LEAD - WAV</a>
<t><small>or</small></t>
<a href="https://www.dropbox.com/scl/fi/vbf9zvg0eu0bdslnl673u/3-The-Uncanny-Valley-by-E9-NO-LEAD.mp3?rlkey=hf60i5533vun3ip8l2po8lkmq&st=sy5ssnro&dl=1" target="_blank">MP3</a>
            </div>
            <div class="download-duration">(5:17)</div>
            <div class="download-size">80.03 MB</div>
            <div class="download-size">7.26 MB</div>
            <div class="download-tip">
                <a href="https://venmo.com/EliPge?txn=pay&amount=3.00&note=For%20The%20Uncanny%20Valley" class="tip-link" target="_blank">[Tip $3]</a>
            </div>
        </div>

        <!-- Song 8 -->
        <div class="download-item">
            <div class="download-link">
                <a href="https://www.dropbox.com/scl/fi/2laeqexoofr7f5hecq0di/4-Tearing-Down-The-Temple-by-E9-NO-LEAD.wav?rlkey=3g4i477zaav7rby5cjh0qdv67&st=v1dwcgna&dl=1" target="_blank">Tearing Down The Temple by E9 NO LEAD - WAV</a>
<t><small>or</small></t>
<a href="https://www.dropbox.com/scl/fi/xgs2gyk0vs11apzh2hubs/4-Tearing-Down-The-Temple-by-E9-NO-LEAD.mp3?rlkey=0tzzdv7s82ogrfgoburgppn6p&st=cjaqsoci&dl=1" target="_blank">MP3</a>
            </div>
            <div class="download-duration">(9:29)</div>
            <div class="download-size">143.81 MB</div>
            <div class="download-size">13.05 MB</div>
            <div class="download-tip">
                <a href="https://venmo.com/EliPage?txn=pay&amount=3.00&note=For%20TDTT" class="tip-link" target="_blank">[Tip $3]</a>
            </div>
        </div>
    </div>
</section>


<style>
/* Section Headers with Download All button */
.download-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 6px;
    padding-bottom: 3px;
    border-bottom: 2px dashed var(--border-color);
    flex-wrap: wrap;
    gap: 5px;
}
.download-section-header .button-group {
    display: flex;
    max-height: 38px;
    gap: 8px; /* Small gap between the two buttons */
    flex-shrink: 0;
}
.section-header-link {
    text-decoration: none;
    background: var(--link-color);
    display: inline-block;
    flex: 1;
    color: white;
    border: none;
    padding: 3px 14px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s;
    white-space: nowrap;
    flex-shrink: 0;
}

.section-header-link h3 {
    margin: 0;
    font-size: 1.1em;
    font-weight: 600;
    color: var(--text-color);
    transition: color 0.2s;
}

.section-header-link:hover {
    transform: scale(1.02);
    opacity: 0.9;
    box-shadow: 0 2px 8px rgba(0, 140, 255, 0.3);
}
.section-header-link:active  {
    transform: scale(0.95);
}

.section-header-link:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 6px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--border-color);
    flex-wrap: wrap;
    gap: 10px;
}

.section-header:first-of-type {
    margin-top: 5px;
}

.section-header h3 {
    color: var(--text-color);
    font-size: 1.1em;
    margin: 0;
    font-weight: 600;
    flex: 1;
}

.download-all-btn {
    background: var(--link-color);
    color: white;
    border: none;
    padding: 4px 14px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 0.7em;
    font-weight: 600;
    transition: all 0.2s;
    white-space: nowrap;
    flex-shrink: 0;
}

.download-all-btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
    box-shadow: 0 2px 8px rgba(0, 140, 255, 0.3);
}

.download-all-btn:active {
    transform: scale(0.95);
}

.download-all-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
}
.download-all-mp3-btn {
    text-decoration: none;
    background: var(--link-color);
    color: white;
    border: none;
    padding: 7px 14px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 0.75em;
    font-weight: 600;
    transition: all 0.2s;
    white-space: nowrap;
    flex-shrink: 0;
}

.download-all-mp3-btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
    box-shadow: 0 2px 8px rgba(0, 140, 255, 0.9);
}

.download-all-mp3-btn:active {
    transform: scale(0.95);
}

.download-all-mp3-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
}

.download-all-catalogue-btn {
    text-decoration: none;
    background: var(--link-color);
    color: white;
    border: none;
    padding: 3px 12px;
    border-radius: 15px;
max-width: 80px;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 600;
    transition: all 0.2s;
    white-space: wrap;
    flex-shrink: 0;
    display: inline-block;
line-height: 1.2;
text-align: center;
}

.download-all-catalogue-btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
    box-shadow: 0 2px 8px rgba(0, 140, 255, 0.3);
}

.download-all-catalogue-btn:active {
    transform: scale(0.95);
}

.download-all-catalogue-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    .section-header {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .download-all-btn {
        font-size: 0.65em;
        padding: 3px 12px;
    }
}
.download-section {
    margin: 30px 0;
    padding: 10px;
    padding-top: 5px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}
/* Reduce header height */
.download-section h2 {
    margin-top: 0px;    /* Reduce top margin */
    margin-bottom: 0px; /* Reduce bottom margin */
    font-size: 1.2em;   /* Optional: slightly smaller font */
}
/* Section Headers */
.section-header {
    margin-top: 20px;
    margin-bottom: 6px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--border-color);
}

.section-header:first-of-type {
    margin-top: 5px;
}

.section-header h3 {
    color: var(--text-color);
    font-size: 1.1em;
    margin: 0;
    font-weight: 600;
}

/* Use a table-like display for perfect alignment */
.download-list {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.download-item {
    display: table-row;
    border-bottom: 1px solid var(--border-color);
}

.download-item:last-child {
    border-bottom: none;
}

.download-item > div {
    display: table-cell;
    padding: 3px 6px; /* Reduced from 12px to 6px for tighter spacing */
    vertical-align: middle;
}

/* First column - the link */
.download-link {
    width: 100%;
    padding-right: 15px;
}

.download-link a {
    font-weight: 500;
    word-break: break-word;
    font-size: 0.95em; /* Slightly smaller font */
}

/* Duration column */
.download-duration {
    white-space: nowrap;
    color: var(--secondary-text);
    font-size: 0.8em; /* Reduced from 0.85em */
    padding: 6px 5px 6px 8px;
    text-align: right;
    width: 1%;
}

/* File size column */
.download-size {
    white-space: nowrap;
    color: var(--secondary-text);
    font-size: 0.8em; /* Reduced from 0.85em */
    padding: 6px 15px 6px 5px;
    text-align: right;
    width: 1%;
}

/* Tip link column */
.download-tip {
    white-space: nowrap;
    padding: 6px 8px 6px 8px;
    text-align: right;
    width: 1%;
}

.download-tip .tip-link {
    font-size: 0.75em; /* Reduced from 0.8em */
    color: var(--secondary-text);
    margin-left: 0;
    text-decoration: none;
}

.download-tip .tip-link:hover {
    text-decoration: underline;
}

.download-item:hover {
    background-color: var(--playlist-hover);
}

.download-item:hover > div:first-child {
    border-radius: 4px 0 0 4px;
}

.download-item:hover > div:last-child {
    border-radius: 0 4px 4px 0;
}

.support-section {
    background: var(--card-bg);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 30px;
    border: 2px dashed var(--link-color);
    font-size: 0.9em;
}

.support-button {
    display: inline-block;
    background: var(--link-color);
    color: white;
    padding: 15px 40px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1.2em;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.support-button:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

code {
    background: var(--bg-color);
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.9em;
}

/* Dark mode adjustments */
[data-theme="dark"] .download-item {
    border-bottom-color: var(--border-color);
}

[data-theme="dark"] .section-header {
    border-bottom-color: var(--border-color);
}

[data-theme="dark"] code {
    background: var(--input-bg);
}

/* Mobile responsiveness */
@media (max-width: 700px) {
    .download-list,
    .download-item,
    .download-item > div {
        display: block;
    }
    
    .download-item {
        border-bottom: 1px solid var(--border-color);
        padding: 8px 0;
    }
    
    .download-item:last-child {
        border-bottom: none;
    }
    
    .download-item > div {
        padding: 3px 8px;
    }
    
    .download-duration,
    .download-size {
        text-align: left;
        white-space: normal;
        width: auto;
        padding-left: 8px;
        font-size: 0.85em;
        display: inline-block;
    }
    
    .download-size {
        padding-left: 5px;
    }
    
    .download-tip {
        text-align: left;
        white-space: normal;
        width: auto;
        padding-left: 8px;
    }
    
    .download-item:hover {
        background-color: transparent;
    }
    
    .section-header h3 {
        font-size: 1em;
    }
}
</style>