---
title: "Blog"
layout: "base.njk"
---

<h1>Blog</h1>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Posts about anything but especially my <b>music projects, electronics builds, and other hobbies.</b> I have a bunch of old electronics projects I'd especially like to document at some point but for now, this section will have mostly write-ups about <b>new</b> projects. Subscribe to <a href="/feed.xml" class="rss-feed-link" title="Subscribe to RSS Feed"><b>my 📡 RSS feed</b></a> to stay up-to-date! I may eventually implement an email list as well but you can always check out <a href="https://www.instagram.com/e9artist" title="E9 Instagram Account">my Instagram page</a> for the most recent updates as that's where I post most often.</p>

<ul class="post-list">
{% for post in collections.blog %}
    <li>
        <article>
            <h2>
                <a href="{{ post.url }}">{{ post.data.title }}</a>
            </h2>
            <time datetime="{{ post.date | isoDate }}">
                {{ post.date | readableDate }}
            </time>
            {% if post.data.tags %}
                <div class="tags">
                    Tags: {% for tag in post.data.tags %}
                        <span class="tag">{{ tag }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </article>
    </li>
{% endfor %}
</ul>